@@include('header.html')

<div role="main">

	<% if (includeBootstrap) { %>
	<div class="container offset-top-sm">
		<div class="header">
			@@include('navigation.html')
		</div>

		<div class="jumbotron">
			<h1><%= projectName %></h1>
			<p class="lead">Always a pleasure scaffolding your apps.</p>
			<p><a class="btn btn-lg btn-success" href="#">Awesome!</a></p>
		</div>

		<p class="lead">You are now ready to start building your project with the following modules:</p>


		<div class="row">
			<div class="col-sm-6">
				<h2>Bootstrap for SASS</h2>
				<p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
			<% if (includejQuery) { %>
				<h2>jQuery</h2>
				<p>Query is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. </p>
			<% } %>
			<h2>AngularJS</h2>
			<p>AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications.</p>
			<p><b>Installed modules:</b></p>
			<ul>
				<% if (includeAngularRoute) { %><li>ngRoute</li><% } %>
				<% if (includeAngularResource) { %><li>ngResource</li><% } %>
				<% if (includeAngularAnimate) { %><li>ngAnimate</li><% } %>
				<% if (includeAngularSanitize) { %><li>ngSanitize</li><% } %>
				<% if (includeAngularUIRouter) { %><li>ui.router</li><% } %>
			</ul>
			<% if (includeModernizr) { %>
            <h2>Modernizr</h2>
            <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
			<% } %>
            <% if (includeTesting) { %>
            <h2>Testing</h2>
            <p>Using karma, mocha and protractor for unit, midway and e2e testing.</p>
            <% } %>
			</div>
		</div>

		<div class="footer">
            <p>♥ by Elmar Kouwenhoven</p>
		</div>

	</div>
	<% } else { %>
	<div class="hero-unit">
		<h1><%= projectName %></h1>
		<p>You are now ready to start building your project with the following modules:</p>
		<% if (includejQuery) { %><h2>jQuery</h2>
		<p>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. </p>
		<% } %>
		<h2>AngularJS</h2>
		<p>AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications.</p>
		<ul>
			<% if (includeAngularRoute) { %><li>ngRoute</li><% } %>
			<% if (includeAngularResource) { %><li>ngResource</li><% } %>
			<% if (includeAngularAnimate) { %><li>ngAnimate</li><% } %>
			<% if (includeAngularSanitize) { %><li>ngSanitize</li><% } %>
            <% if (includeAngularUIRouter) { %><li>ui.router</li><% } %>
        </ul>
		<% if (includeModernizr) { %><h2>Modernizr</h2>
		<p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
		<% } %>
        <% if (includeTesting) { %><h2>Testing</h2>
        <p>Using karma, mocha and protractor for unit, midway and e2e testing.</p>
        <% } %>
	</div>
	<% } %>


</div>

@@include('footer.html')
