<!doctype html>
<html lang="<%= projectLanguage %>" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title><%= projectName %> @@version</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
        <!-- build:css /css/main.css -->
        <link rel="stylesheet" href="/build/css/main.css" type="text/css" />
        <!-- endbuild -->
        <% if (includeModernizr) { %><!-- build:js /js/modernizr.js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild --><% } %>
    </head>
    <body>
