<script src="/js/config.js"></script>
<!-- build:js /js/libs.js -->
<% if (includejQuery || includeBootstrap) { %><script src="/bower_components/jquery/dist/jquery.js"></script><% } %>
<% if (includeBootstrap) { %><script src="/libs/bootstrap/assets/javascripts/bootstrap.js"></script><% } %>
<!-- endbuild -->
