<script src="/js/config.js"></script>
<!-- build:js /js/libs.js -->
<% if (includejQuery || includeBootstrap) { %><script src="/bower_components/jquery/dist/jquery.js"></script><% } %>
<% if (includeBootstrap) { %><script src="/libs/bootstrap/assets/javascripts/bootstrap.js"></script><% } %>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-i18n/angular-locale_<%= projectLanguage %>.js"></script><% if (includeAngularRoute) { %>
<script src="/bower_components/angular-route/angular-route.js"></script><% } %><% if (includeAngularUIRouter) { %>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script><% } %> <% if (includeAngularResource) { %>
<script src="/bower_components/angular-resource/angular-resource.js"></script><% } %><% if (includeAngularAnimate) { %>
<script src="/bower_components/angular-animate/angular-animate.js"></script><% } %> <% if (includeAngularSanitize) { %>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script><% } %>
<!-- endbuild -->
<!-- build:js /js/scripts.js -->
<script src="/js/angular/modules/<%= fileProjectName %>.js"></script>
<script src="/js/angular/controllers/example.js"></script>
<script src="/js/angular/services/example.js"></script>
<script src="/js/angular/directives/example.js"></script>
<script src="/js/angular/filters/example.js"></script>
<script src="/js/angular/interceptors/example.js"></script>
<script src="/js/angular/transformers/example.js"></script>
<script src="/js/angular/modules/<%= fileProjectName %>-config.js"></script>
<script src="/js/angular/modules/<%= fileProjectName %>-run.js"></script>
<!-- endbuild -->
